# Ignore top-level dotfiles
.*
!.gitignore

# Ignore all node_modules everywhere
node_modules/
**/node_modules/

# Ignore .env anywhere
.env
**/.env

.history
.vscode
/images/sessions/.DS_Store
.DS_Store?
**/.DS_Store
._.DS_Store
firebase_media