.side-navigation {
	background-color: #011640;
	border-right: 2px solid #011640;
	max-width: 210px;
	z-index: 100;
}

.side-navigation .nav-link {
	color: white;
}

.side-navigation .nav-item button {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.navbar {
	height: 70px;
	background-color: #eae9f3 !important;
}

.navbar-nav button {
	border: none;
}

.navbar-brand {
	min-width: auto;
	text-align: center;
}

.image-border {
	border-right: 2px solid #d9437a;
	padding: 0 10px;
	color: #1d0c59;
}

.page-body {
	width: 100vw;
}

.page-content {
	min-height: calc(100vh - 70px);
	background-color: #f4f4f9;
}

/* sessions & meet the tutors */
.tutor-name {
	text-align: end;
	min-width: max-content;
}

.menu-card {
	min-height: 200px;
}

.tutor-profile {
	min-width: 300px;
	min-height: 350px;
	background-position: center;
	background-size: cover;
}

.intro {
	font-size: 16px;
	max-width: 500px;
	margin: 0 auto;
}

.intro p {
	margin-bottom: 0;
}

.people,
.jobs {
	padding: 20px 0;
	cursor: pointer;
}

.people .item {
	min-width: 300px;
}

.item,
.session-card {
	margin-bottom: 30px;
}

.item .box,
.session-card .box {
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 280px;
	position: relative;
	overflow: hidden;
	border: 1px solid black;
}

.item .cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(2, 59, 116, 0.83);
	/* background-color: rgba(0, 127, 255, 0.75); */
	transition: opacity 0.15s ease-in;
	opacity: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.item .profile {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(240, 255, 255, 0.5);
	color: black;
	width: 100%;
}

.cover .name {
	font-family: serif;
	letter-spacing: 2px;
}

.session-card .session {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.75);
	color: black;
	width: 100%;
}

.session-card .session {
	padding: 5px;
}

.item:hover .cover {
	opacity: 1;
}

.item:hover .profile {
	opacity: 0;
}

.item .name,
.session-name {
	font-weight: bold;
	margin-bottom: 8px;
}

.item .title {
	text-transform: uppercase;
	font-weight: bold;
	color: #020202;
	letter-spacing: 2px;
	font-size: 13px;
	margin-bottom: 20px;
}

.jobs .item {
	min-width: 330px;
}

.session-description {
	text-transform: uppercase;
	font-weight: bold;
	color: #020202;
	letter-spacing: 2px;
	font-size: 13px;
	margin-bottom: 10px;
}

.social {
	font-size: 18px;
	height: 40px;
	background-color: rgb(240, 248, 255, 0.75);
	color: #011640;
}

.social a {
	color: inherit;
	margin: 5px 10px;
	display: inline-block;
	opacity: 0.7;
}

.social a:hover {
	opacity: 1;
}

.description {
	overflow: scroll;
	padding: 0 10px;
	margin-bottom: 5px;
}

.sm-icon {
	padding: 10px 0;
}

form i {
	cursor: pointer;
}
form {
	background-color: transparent;
}
.form-group {
	padding: 0 0 15px 0;
}
.form-label {
	margin-bottom: 0rem;
}

.input-group-text {
	width: 40px;
	margin: 0;
	padding: 0;
}

.input-group-text i {
	margin-left: 10px;
}

.navbar {
	border-bottom: 2px solid #011640;
}

.navbar-nav {
	width: 80%;
	/* height: 70px; */
}

.navbar-nav .nav-link {
	justify-content: center;
	height: 100%;
	font-weight: 500;
	font-family: sans-serif;
	/* background-color: transparent; */
	background-color: #eae9f3;
}

.nav-link {
	display: inline-flex;
	align-items: center;
	color: #011640;
}

.nav-link span {
	vertical-align: text-bottom;
}

.nav-link a:hover {
	color: #d8447a;
}

.nav-link.active-side-nav,
.active-side-nav:hover {
	color: #1df2dd;
}

.active-top-nav a {
	color: #d8447a !important;
	font-weight: 600;
}

.navbar-nav .nav-link a {
	text-decoration: none;
	color: #011640;
}

ul[id^='submenu'] li {
	font-size: 13px;
}

#tutor-avatar {
	object-fit: cover;
}

.welcome-container {
	background: #31238c;
	color: #fff;
	width: 100%;
	height: 60vh;
}

#welcome-heading {
	font-family: sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 50px;
	line-height: 60px;
	letter-spacing: -0.04em;
}

#sessions-heading,
#jobs-heading {
	font-family: sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
}

.info-modal i {
	color: #1df2dd;
}

/* .job-description {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  /* min-height: 80px; */
/* background-size: contain; */
/* background-repeat: no-repeat; */
/* } */

.job-image {
	object-fit: cover;
	width: 100%;
	height: 300px;
}

.job-qr {
	margin-bottom: -55px;
	z-index: 100;
}

.job.card-body {
	height: 90px;
}

.active-top-nav {
	color: #d8447a;
	font-weight: 600 !important;
}

.job-btns a {
	min-height: 62px;
	width: 180px;
	background-color: #31238c;
	color: white;
}

.job-btns a:hover
/* .btn-register:hover, 
.button-style,
.button-style-invert:hover*/ {
	background-color: #d9437a;
	color: white;
}

/* .button-style:hover,
.button-style-invert {
	background-color: #31238c;
	color: white;
} */

/* .btn-register {
	border-color: #d9437a;
} */

.btn {
	color: white;
	font-size: 16px;
	font-weight: 500;
}

.primary {
	background-color: #d9437a;
}
.primary:hover {
	background-color: #d9437a;
	opacity: 0.5;
	color: white;
}

.secondary {
	background-color: #31238c;
}
.secondary:hover {
	background-color: #31238c;
	opacity: 0.5;
	color: white;
}

.tertiary {
	color: #31238c;
	border: 1px solid #31238c;
}

.tertiary:hover {
	color: white;
	background: #31238c;
}

.btn.disabled {
	background: #b0b8bc;
	color: #5d6970;
}

.hidden-feedback {
	display: none;
}

.invalid-feedback {
	display: block;
	color: red;
	display: flex;
	justify-content: flex-end;
	font-size: small;
	padding-right: 5px;
}

.tooltip-text {
	visibility: hidden;
	position: absolute;
	z-index: 1;
	min-width: max-content;
	color: #011640;
	background-color: #f8f9fa;
	padding: 5px;
	border: 1px solid #011640;
	border-radius: 5px;
}

.hover-text:hover .tooltip-text {
	visibility: visible;
}

.hover-text {
	position: relative;
	display: inline-block;
	text-align: center;
}

.hidden {
	display: none;
}

.nav-item button[disabled] span:first-of-type,
.nav-item button[disabled] i {
	opacity: 0.5;
}

.release-date-btn {
	pointer-events: all !important;
}

.release-date-btn:active {
	pointer-events: none;
}

.release-date-btn .tooltip-text {
	right: 0;
}

.right {
	float: right;
}

/* resizing H1, H2, etc. */
.resize {
	font-size: calc(1.275rem + 0.3vw);
}

/* login.html */
.blurb {
  padding: 1rem 1rem 1rem 0;
}
.blurb p {
	width: 400px;
}

/* needed to override the accessibility violation with the colour contrast */
.text-muted {
	color: #000 !important;
	opacity: 0.6;
}

em {
	opacity: 0.8;
}

form .CTA-group {
	width: 100%;
	height: 5rem;
	padding: 0.5rem 0;
}

.CTA-group a.text-muted {
	margin: 0 0.5rem 0.5rem 0;
}

@media (min-width: 475px) {
	/* body {
		background: limegreen;
	} */

	.side-navigation {
		max-width: 210px;
		min-width: 210px;
	}
	.text-center > img {
		margin-top: 3rem;
	}
	.navbar-brand {
		min-width: 210px;
	}
}

@media (max-width: 767px) {
	/* body {
		background: orchid;
	} */

	h2 {
		margin-bottom: 25px;
		padding-top: 25px;
		font-size: 24px;
	}
	form {
		padding: 1rem;
	}

	#blurb {
		visibility: hidden;
	}
}

@media (min-width: 769px) {
	.gradient-custom-2 {
		border-top-right-radius: 0.3rem;
		border-bottom-right-radius: 0.3rem;

		/* fallback for old browsers */
		background: rgb(1, 22, 64);

		/* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			90deg,
			rgba(1, 22, 64, 1) 0%,
			rgba(29, 12, 89, 1) 25%,
			rgba(49, 35, 140, 1) 73%,
			rgba(217, 67, 122, 1) 92%
		);
	}
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
