.side-navigation {
  background-color: #011640;
  border-right: 2px solid #011640;
  min-width: 210px;
}

.side-navigation .nav-link {
  color: white !important;
}

.tutor-name {
  text-align: end;
  min-width: max-content;
}